<!DOCTYPE HTML>
<html>

<head>
    <title>Obr.com |{% block title %} Shorten that url {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

     <link href="https://getbootstrap.com/docs/5.0/examples/cover/cover.css" rel="stylesheet">



</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% block content %}
    {% endblock content %}

</div>


</body>

</html>
